<%- include('partials/header.ejs') %>

<div class="page-header d-print-none">
    <div class="container">
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <span class="status-indicator status-green status-indicator-animated">
                    <span class="status-indicator-circle"></span>
                    <span class="status-indicator-circle"></span>
                    <span class="status-indicator-circle"></span>
                </span>
            </div>
            <div class="col">
                <h2 class="page-title">
                    Prediction Results
                </h2>
                <div class="text-muted">
                    <ul class="list-inline list-inline-dots mb-0">
                        <li class="list-inline-item"><span class="text-green">Ready</span></li>
                        <li class="list-inline-item">Execution time: <%= prediction.executionTime %> miliseconds</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-auto ms-auto d-print-none">
                <div class="btn-list">
                    <a class="btn">
                        <!-- Download SVG icon from http://tabler-icons.io/i/player-pause -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <rect x="6" y="5" width="4" height="14" rx="1" />
                            <rect x="14" y="5" width="4" height="14" rx="1" />
                        </svg>
                        Left Eye: DR <%= prediction.leftEyeDRLevel %>
                    </a>
                    <a class="btn">
                        <!-- Download SVG icon from http://tabler-icons.io/i/player-pause -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <rect x="6" y="5" width="4" height="14" rx="1" />
                            <rect x="14" y="5" width="4" height="14" rx="1" />
                        </svg>
                        Right Eye: DR <%= prediction.rightEyeDRLevel %>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page body -->
<div class="page-body">
    <div class="container-xl">
        <div class="row row-cards">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Left Eye</h3>
                        <div id="chart-left-eye"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Left Eye Image</h3>
                        <img src="<%= prediction.leftEyeImage %>" alt="" class="card-img-top p3">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Left Eye Image</h3>
                        <img src="<%= prediction.rightEyeImage %>" alt="" class="card-img-top p3">
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Right Eye</h3>
                        <div id="chart-right-eye"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('partials/footer.ejs') %>